/ {
    aliases {
        led0 = &green_led;
        sw0 = &button_up;
        sw1 = &button_down;
    };

    leds {
        compatible = "gpio-leds";
        green_led: led_0 {
            gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
        };
    };

    buttons {
        compatible = "gpio-keys";
        button_up: button_up {
            /* P0.11: Pull-up activated, active when shorted to GND */
            gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Up Button";
        };
        button_down: button_down {
            /* P0.12: Pull-up activated, active when shorted to GND */
            gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Down Button";
        };
    };
};
